@font-face {
    font-family: 'Panthera';
    src: url('../Fonts/Panthera/PantheraRegular-MVZ9J.ttf');
}
@font-face {
    font-family: 'Cantarell';
    src: url('../Fonts/cantarell/Cantarell-Regular.ttf');
}
@font-face {
    font-family: 'Beyno';
    src: url('../Fonts/beyno/BEYNO.ttf');
}
@font-face {
    font-family: 'Wakanda';
    src: url('../Fonts/wakanda_forever/WakandaForever-Regular.ttf');
}

//color 
:root {
    --ivory: #F2CEF2;
    --silver: #9E91B7;
    --pink: #DF99F2;
    --purple: #3D2DA6;
    --blue: #07338C;
    --darkblue: #021740;
}


.d-flex {
    display: flex;
}
.flex_center {
    justify-content: center;
    align-items: center;

}
.flex_between {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.flex_end {
    justify-content: flex-end;
    align-items: center;
}
.flex_start {
    justify-content: flex-start;
    align-items: center;
}
.flex_around {
    justify-content: space-around;
    align-items: center;
}

.flex_evenly{
    justify-content: space-evenly;
    align-items: center;
}

.d_column {
    flex-direction: column;
}

.w100 {
    width: 100%;
}

.border{
    border: 2px solid #bcbbbd48;
}

.test {
    border: 1px solid #fff;
}
.test2 {
    border: 1px solid green;
}
.test3 {
    border: 1px solid yellow;
}
.test4 {
    border: 1px solid red;
}


h1 {
    font-family: 'Panthera';
    font-size: 68px;
}

h2 {
    font-family: 'Beyno';
    font-size: 22px;
    color: var(--silver);
}

p, a, h5, h4, h3, li {
    font-family: 'Cantarell';
    font-size: 16px;
}
.citation {
    font-family: 'Cantarell';
    font-size: 14px;
    font-weight: lighter;
}
.p_footer {
    font-family: 'Cantarell';
    font-size: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../Illustrations_&_Logo/all_pages/arrière_plan.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}


/* ----------------------------- HEADER ----------------------------- */
header {
    @extend .d-flex, .flex_center, .w100;
    height: 12vh;
}

nav {
    @extend .d-flex, .flex_between;
    width: 90%;

    ul {
        @extend .d-flex, .flex_between;
        list-style-type: none;
        width: 40%;
        
        li {
            text-align: center;
            font-family: 'Beyno';
            font-size: 20px;
            width: 30%;
            
            .actif {
                color: var(--purple);
                text-decoration: underline;
            }
            
            a{
                font-weight: normal;
                text-transform: uppercase;
                &:hover{
                    color: var(--purple);
                    text-decoration: underline;
                }
            }
        }
    }
}
/* ------------------------------------------------------------------ */


/* ----------------------------- FOOTER ----------------------------- */
footer {
    @extend .d-flex, .flex_center;
    background-image: url('../Illustrations_&_Logo/all_pages/back_footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.footer_img {
    @extend .d-flex, .flex_center;
    position: relative;
    height: 75%;
    width: 25%;
}

.float {
    position: absolute;
    right: 28%;
    top: 43%;
    width: 11vw;
}

footer .container {
    @extend .d-flex, .d_column, .flex_between;
    width: 60%;
    
}
.row, .row_2 {
    width: 80%;
}

.row {
    @extend .d-flex, .flex_between;

    ul {
        list-style-type: none;

        li {
            text-transform: uppercase;
        }
    }
    h5 {
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-bottom: 1.5vw;
    }
    a:hover{
        text-decoration: underline;
    }
}
.icon {
    @extend .d-flex, .flex_between;
}

.row_2 {
    @extend .d-flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 4vw;

    p , a{
        font-size: 14px;
        text-align: center;
    }

    ul {
        @extend .d-flex, .flex_evenly;
        width: 60%;
    }
}
/* -------------------------------------------------------------*/